// bower:scss
@import "bower_components/reset-css/_reset.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin,latin-ext);

$yano: 'Yanone Kaffeesatz', sans-serif;
$grad: lighten($color1, 86%);
 
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin background-image($color1){
  background-image: linear-gradient(bottom, $color1 24%, $grad);
  background-image: -moz-linear-gradient(bottom, $color1 24%, $grad);
  background-image: -webkit-linear-gradient(bottom, $color1 24%, $grad);
}
html{
  @include background-image(yellow);
  background-size: cover;
  height: 100%;
}
body {
	width: 50em;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header,
article,
footer {
  background-color: #eeeeee;
  @include border-radius(8px);
  width: 640px;
  border: 1px solid #000000;
  margin-bottom: 4px;
  padding: 8px;
}
header h1 {
  font-family: $yano;
  text-align: center;
  font-size: 24px;
}
nav {
  width: 640px;
  clear: left;
  float: left;
  overflow: hidden;

    ul {
      height: 40px;
      clear: left;
      float: left;
      position: relative;
      left: 50%;
      text-align: center;
    }
    li {
      float: left;
      position: relative;
      right: 50%;
    }
    a {
      @include border-radius(4px);
      display: block;
      line-height: 30px;
      padding: 0 20px 0 20px;
      margin: 0 4px 0 4px;
      @include background-image(#4d7cf2);
      color: #ffffff;
      text-decoration: none;
      border: 2px outset #ffffff;
    }
    a:hover {
      @include background-image(#5c95ff);
    }
}
article {
  float: left;
  line-height: 140%;

    img {
      @include border-radius(4px);
      float: right;
      border: 2px solid #000;
      margin-left: 8px;
    }
    h2 {
      font-family: $yano;
      font-size: 21px;
      line-height: 140%;
    }
    h3 {
      font-family: $yano;
      font-size: 19px;
      line-height: 140%;
      margin-top: 8px;
    }
    p {
      margin-bottom: 12px;
    }
}
footer {
  float: left;
  text-align: center;
}
